<h1>Affiliate Link</h1>
<p>
  <b>Link type:</b>
  <%=h @affiliate_link.link_type %>
</p>

<p>
  <b>Ad text:</b>
  <%=h @affiliate_link.ad_text %>
</p>


<%= link_to 'Edit', edit_admin_affiliate_link_path(@affiliate_link) %> |
<%= link_to 'Back', admin_affiliate_links_path %>
