<h1>Editing affiliate_setting</h1>

<% form_for([:admin, @affiliate_setting]) do |f| %>
<%= render :partial => 'form_fields', :locals => {:f => f, :button_name => "Update"}%>
<% end %>

<%= link_to 'Show', [:admin, @affiliate_setting] %> |
<%= link_to 'Back', admin_affiliate_settings_path %>
