<h1>Your Affiliate Settings</h1>



    <p>Your affiliates will get <%=h @affiliate_setting.affiliate_percentage %>% of each applicable sale.</p>

    <p>Click here to <%= link_to 'Edit', edit_admin_affiliate_setting_path(@affiliate_setting) %> this setting.</p>


