<div>
	<ul>
		<li><%= link_to "Affiliate Admin Home", admin_affiliates_path %> </li>
		<li><%= link_to "Affiliate Links", admin_affiliate_links_path %> </li>
		<li><%= link_to "Affiliate Settings", admin_affiliate_settings_path %> </li>
	</ul>
</div>