<h1>Affiliate Management</h1>
<p>Edit your Affiliate Settings <%= link_to "here", root_path %> </p>
<p>The following is a list of users who are affiliates in your affiliate program</p>
<table>
  <tr>
    <th>User</th>
    <th>Paypal email</th>
  </tr>

<% for affiliate in @affiliates %>
  <tr>
    <td><%= link_to affiliate.user_id, admin_affiliate_path(affiliate) %></td>
    <td><%=h affiliate.paypal_email %></td>
    <td><%= link_to 'Destroy', affiliate, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>


